In [ ]:
list_1=[1,2,3,4,5,6,7]
print(list_1[0:3])
print(list_1[1:4])
print(list_1[0:10])
print(list_1[0:])
print(list_1[:4])
print(list_1[-4:-1])
print(list_1[0:6:2])
print(list_1[0:6:1])
print(list_1[0:7:3])

list_1.sort()
print(list_1)

[1, 2, 3]
[2, 3, 4]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4]
[4, 5, 6]
[1, 3, 5]
[1, 2, 3, 4, 5, 6]
[1, 4, 7]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
list.extend([1,2,4])
print(list)

[1, 2, 3, 4, 5, 6, 7, 1, 2, 4]

In [ ]:
list.insert(1,2)
print(list)

[1, 2, 2, 3, 4, 5, 6, 7, 1, 2, 4]

In [ ]:
list.append(20)
print(list)

[1, 2, 2, 3, 4, 5, 6, 7, 1, 2, 4, 20]

In [ ]:
list[3]=30
print(list)

[1, 2, 2, 30, 4, 5, 6, 7, 1, 2, 4, 20]

In [ ]:
list[3:5] = [290,300,100]
print(list)

[1, 2, 2, 290, 300, 100, 5, 6, 7, 1, 2, 4, 20]

In [ ]:
list.remove(300)
print(list)

[1, 2, 290, 100, 5, 6, 7, 1, 2, 4]

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)
thislist.pop()
print(thislist)

['apple', 'cherry']
['apple']

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [ ]:
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in range(len(thislist)):
  print(thislist[x])

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits]
print(newlist)

newlist = [x.upper() for x in fruits]
print(newlist)

newlist = ['hello' for x in fruits]
print(newlist)

newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['hello', 'hello', 'hello', 'hello', 'hello']
['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [ ]:
newlist = [x for x in range(10)]
print(newlist)
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]

In [ ]:
thislist = [1,6,3,4,5,2]
thislist.sort()
print(thislist)

[1, 2, 3, 4, 5, 6]

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
new=[x.lower() for x in thislist]
print(new)
new.sort()
print(new)

['banana', 'orange', 'kiwi', 'cherry']
['banana', 'cherry', 'kiwi', 'orange']

In [ ]:
fruits=["apple","banana","mango"]
print(fruits.count(1))

0

In [ ]:
import random
a=random.randint(1,3)
print(a)
b=random.randrange(1,3)
print(b)
c=random.random()
print(c)
d=random.uniform(1,3)
print(d)
l=[1,3,4,2,5]
random.choice(l)
print(l)
random.shuffle(l)
print(l)

1
2
0.24958511362667302
1.1596870612113657
[1, 3, 4, 2, 5]
[5, 1, 2, 3, 4]

In [ ]:
import random
side=random.randint(0,1)
if side == 0:
  print("head")
else:
  print("tails")

head

In [ ]:
import random
names=input("enter names")
names1=names.split(" ")
print(names1)
length=len(names1)
print(length)
a=random.randint(0,length-1)
print(f"{names1[a]} will pay ")

enter nameschahvi aena ravi
['chahvi', 'aena', 'ravi']
3
chahvi will pay

In [ ]:
import random
names=input("enter names")
names1=names.split(" ")
a=random.choice(names1)
print(f"{a} will pay ")

enter nameschhavi aena addy
chhavi will pay

In [ ]:
bit=[1,2,3,4,5,6]
pit=len(bit)
print(pit)
print(f"he is {bit[-3]} old")

6
he is 4 old

In [ ]:
list=[1,2,3,[4,5,6]]
print(list[3])
print(list[3][1])
print(list[3][-1])
print(list[len(list)-1])
print(list[3][0:2])

list1=[1,2,3,["riya","chhavi"],4,5,6]
print(list1)
print(list1[3])

[4, 5, 6]
5
6
[4, 5, 6]
[4, 5]
[1, 2, 3, ['riya', 'chhavi'], 4, 5, 6]
['riya', 'chhavi']

In [ ]:
row1=['🤣','🤣','🤣']
row2=['🤣','🤣','🤣']
row3=['🤣','🤣','🤣']
matrix=[row1,row2,row3]
print(f"{row1}\n{row2}\n{row3}")
position=input("enter where to hide the money")
#32
row_number=int(position[0])
coloum_number=int(position[1])
row_selected=matrix[row_number-1]
row_selected[coloum_number-1]='X'
print(f"{row1}\n {row2}\n {row3}")

['🤣', '🤣', '🤣']
['🤣', '🤣', '🤣']
['🤣', '🤣', '🤣']
enter where to hide the money32
['🤣', '🤣', '🤣']
 ['🤣', '🤣', '🤣']
 ['🤣', 'X', '🤣']

In [ ]:
import random
matrix = [[1,2,3,],
          [2,3,4,],
          [3,4,5,]]
x = int(input("enter the row position ") )
y = int(input("enter column"))
z = int(input("enter the value"))
matrix[x][y] = z
print(matrix)
list=[0,1,2]
a=random.choice(list)
if a==0:
  print("chhavi pays")
elif a==1:
  print("ravi pays")
else:
  print("divyam pays")

enter the row position 1
enter column1
enter the value2
[[1, 2, 3], [2, 2, 4], [3, 4, 5]]
chhavi pays

In [ ]:
list=[0,1,2]
a=random.choice(list)
if a==0:
  print("chhavi pays")
elif a==1:
  print("ravi pays")
else:
  print("divyam pays")

divyam pays