In [ ]:
a="hello"
b="world"
c=a+b
print(c)

helloworld

In [ ]:
print("hello"+" world")

In [ ]:
a="hello,world!"
print(a.upper())
print(a.lower())
print(a.strip())
print(a.replace("h","j"))
print(a.split("o"))

HELLO,WORLD!
hello,world!
hello,world!
jello,world!
['hell', ',w', 'rld!']

In [ ]:
number=input("number")
#sum=int(number[0])+int(number[1])
#print(sum)
print(int(number[0])+int(number[1]))

number25
7

In [ ]:
a=input("number")
b=input("number1")
sum=int(number)+int(number1)
print(sum)

number2
number15

NameError: name 'number' is not defined

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [ ]:
name1="CHHAVI"
name2="CHAUHAN"
a=2
print('name1+ name2')

name1+ name2

In [ ]:
name="chhavi"
print(name[3])

a

In [ ]:
#lecture 11
var_1=0b10
var_2=0o15
print(var_1)
print(var_2)
print(type(var_1))
print(type(var_2))

print(var_1+var_2)

2
13
<class 'int'>
<class 'int'>
15

In [ ]:
print(0x10)

16

In [ ]:
a=3
print(type(a))

<class 'int'>

In [ ]:
print('print("what")')
print("print('what')")
print("hello")
print('hello')

print("what")
print('what')
hello
hello

In [ ]:
print('print('what')')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-28-b47abcbd1cbd>, line 1)

In [ ]:
weight=int(input("enter weight\n"))
height=float(input("enter the height\n"))
bmi=weight/height**2
print(bmi)

enter weight
55
enter the height
1.5
24.444444444444443

In [ ]:
x=int(input("enter x"))
y=int ( input("enter y"))
print(x+y)

enter x5
enter y5
10

In [ ]:
age = 36
txt = "My name is John, and I am"+str(age)
print(txt)

My name is John, and I am36

In [ ]:
print("10"+"10")
print(10+10)

1010
20

In [ ]:
x=input("enter a word")
print(len(x))

enter a wordchhavi
7

In [ ]:
name=input("enter your name")
print(name)

enter your namechhavi
chhavi

In [ ]:
a=input("enter a\n")
b=input("enter b\n")
temp=0
temp=a
a=b
b=temp
print(a)
print(b)

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay"+ " " + str(quantity)+" "+ "dollars for" + str(price) +" "+  "pieces of item" +" "+ str(itemno)
print(myorder)

I want to pay 3 dollars for49.95 pieces of item 567

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [ ]:
 #string format
 quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item, {} for {} dollars."
print(myorder.format(quantity,itemno,price))

I want 3 pieces of item, 567 for 49.95 dollars.

In [ ]:
#operators
x=5
y=2
print(x%y)
print(x/y)
print(x**y)
print(x//y)

1
2.5
25
2

In [ ]:
a,b,c=5,6,7,
print(a)
print(b)
print(c)

5
6
7

In [ ]:
a=5
print(~a)
print(a<<2)
print(a>>2)

-6
20
1

In [ ]:

input("what is your name")

In [ ]:
print(10+10)
print("10"+"10")
print(int(10)+int(10))
print(int("10")+int("10"))
print(float("10")+int("10"))

In [ ]:
a=5
b=3
temp=0
temp=a
a=b
b=temp
print(a)
print(b)

In [ ]:
print("string manupulation exercise \n"  "string concatenation is done with '+'sign\n" "for example print('hello+chhavi)\n" "new line can be created using backslash\n")

In [ ]:
length=len("chhavi")
print(len("chhavi"))
print("your name has"+" "+str(length)+" " +"characters")
new_length=length
print(type(new_length))

"""
this
is
what
"""

In [ ]:
 #SHORTHAND ASSIGNMENT OPERATOr
b=3
b+=3
print(b)

c=4
c-=2
print(c)

d=1
d*=2
print(d)

e=6
e/=3
print(e)

f=7
f%=3
print(f)

h=2
h**=3
print(h)

6
2
2
2.0
1
8

In [ ]:
#COMPARISION OPERATORS
x=5
print(x==5)
print(x!=5)
print(x>=5)
print(x<5)

True
False
True
False

In [ ]:
# LOGICAL OPERATORS
ab=2
ba=4
print(ab>1 and ba<5)
print(ab>1 and ba<3)
print(ab>1 or ba<3)
print(not ab)

abc=0
print(not abc)

True
False
True
False
True

In [ ]:
# BITWISE OEPRATORS
abc=5
acb=4
print(abc & acb) #AND
print(abc|acb) #OR
print(abc^acb) #XOR
print(~abc) #negation= put '-' sign and increase the value of the number by one
print(~acb)
print(abc<<2) #left shift = addition of bits
print(abc>>2) #right shift = reduction of bits

4
5
1
-6
-5
20
1

In [ ]:
# IDENTITY OPERATORS- 'is' and 'is not'
xy=6
yz=6
print(xy is yz)
print(id(xy)) #id=address
print(id(yz))
abcd=5
print(id(abcd))
abcd=6
print(id(abcd))

True
138724429090672
138724429090672
138724430037360
138724430037392

In [ ]:
#MEMBERSHIP OPERATOR-'in' and 'not in'

str="chhavi"
print('bv'not in str)
print('ha'not in str)
print('ch' in str)

True
False
True

In [ ]:
round(21.34,1)

21.3

In [ ]:
print(round(4.5))
print(round(6.5))
print(round(5.5))
print(round(6.75,1))
print(round(6.85,1))
print(round(674.1012,-1))
print(round(1212,-2))
print(round(500,-3))
print(round(501,-3))
print(round(674,-3))

# nearest even

4
6
6
6.8
6.8
670.0
1200
0
1000
1000

In [ ]:
# CONDITIONAL STATEMENTS
age=int(input("age"))
print("age is "+ " "+ str(age))

if age>18:
 print("adult")
 print("you can vote")
elif age==18:
 print("you can vote")
else :
  print("you can't vote")

age18
age is  18
you can vote

In [ ]:
x=int(input("enter the number"))
if x==1:
 print("one")

enter the numbe1
one

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [ ]:
a=3000
b=330
print("A") if a>b else print("B") if a==b else print("D")

A

In [ ]:
a=30
b=40
c=50
if b>a and c>b:
 print("both are true ")

both are true

In [ ]:
a=30
b=40
c=50
if a>b or c>b:
 print("one condition is true ")

one condition is true

In [ ]:
a=50
b=20
if not a>b:
  print("a is not greater than b")
else:
  print("a is greater ")

a is greater

In [ ]:
x=100
if x>10 :
  print("above 10 ")
if x<10:
  print("below 10 ")
else:
 print("equal to 10")

above 10

In [ ]:
a = 33
b = 200

if b > a:
  pass

# WHILE LOOP

In [ ]:

i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [ ]:
i=0
while i<6:
  i+=1
  if i==3:
   continue
  print(i)

1
2
4
5
6

In [ ]:
i=0
while i<6:
  print(i)
  i+=1
else:
  print("i no longer is less than 6")

0
1
2
3
4
5
i no longer is less than 6

# FOR LOOP

In [ ]:
list=[1,2,3,4]
for x in list:
  square=x*x
  print(square)

1
4
9
16

In [ ]:
l2=[1,2,3,4]
l3=[]
for x in l2:
  sqaure=x*x
  l3.append(sqaure)
  print(l3)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]

# FOR-ELSE LOOP

In [ ]:
num=[1,2,3]
for i in num:
  print(i)
else:
  print("loop executed")

1
2
3
loop executed

In [ ]:
num=[1,2,3,4,5,6]
for i in num:
 print(i)
if i==3:
 break
else:
  print("loop executed")

1
2
3
4
5
6

SyntaxError: 'break' outside loop (<ipython-input-12-2ab9e70e25ce>, line 5)

In [ ]:
x=input("enter list")

enter list 1 2 3 4 5
['', '1', '2', '3', '4', '5']
[' 1 2 3 4 5']

# PRACTICE CODES

In [ ]:
a = 200
b = 33

if b > a:
 print("b is greater than a")
else:
 print("b is not greater than a")

 print(bool("Hello"))
print(bool(2))

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

b is not greater than a
True
True
True
True

In [ ]:
# find how many weeks, days, months we have left if we live until 90 years input:your current age
age=int(input("ENTER THE AGE "))
years_left=90-age
print(years_left)
week_left=years_left*52
days_left=years_left*365
months_left=years_left*12
print(week_left)
print(days_left)
print(months_left)

ENTER THE AGE 85
5
260
1825
60

In [ ]:
name="chhavi"
age=19
print("my name is ",name, " my age is ",age)
print(f"my name is {name}.my age is {age}")
print("my name is "+str(name)+"my age is"+str(age))

my name is  chhavi  my age is  19
my name is chhavi.my age is 19
my name is chhavimy age is19

In [ ]:
z= float(input("Enter height"))
if z>1.5 :
 print("You can enter the park")
a= int(input("Enter age"))
if a<5 :
  print("You have to pay 100 rupees")
elif a<10 :
 print("You have to pay rupees 250")
else :
  print("You have to pay rupees 1000")

Enter height2
You can enter the park
Enter age15
You have to pay rupees 1000

In [ ]:
num=int(input("enter the numebr"))
if num%2==0:
  print("num is even")
else:
    print("odd")

enter the numebr6
num is even

In [ ]:
a=int(input("enter the number btw 0-30"))
if(a>0 and a<=10):
 print("number btw 0-10")
if(a>10 and a<=20):
 print("number btw 10-20")
elif(a>20 and a<=30):
 print("number btw 20-30")
else:
  print("you have not entered the right numebr")

enter the number btw 0-30 21
number btw 20-30

In [ ]:
height=float(input("enter height"))
weight=int(input("enter weight"))
bmi=weight/height**2
print(str(bmi))
if bmi<18.5:
   print("underweight")
if bmi<=25:
  print("okay")
elif bmi<25:
  print("overweight")
else:
  print("obese")

enter height1
enter weight100
100.0
obese

In [ ]:
year=int(input("enter the year"))
if year % 4==0:
 if year % 100==0:
  if year % 400==0:
    print("leap year")
  else:
   print("not a leap year")
 else:
    print("leap year")
else:
  print("not a leap  year ")

enter the year2024
leap year

In [ ]:
a = 330
b = 200
if not a > b:
  print("a is NOT greater than b")
else:
  print("a is greater")

a is greater

In [ ]:
age=int(input("age"))
print(age)
if(age<12):
 print("you can enter")
if(age>12):
 print("you cannot enter")
if(age>=12):
 print("you can enter but pay 50-/")

age 14
14
you cannot enter
you can enter but pay 50-/

In [ ]:
age=int(input("age"))
print(age)
if(age<12):
 print("you can enter")
elif(age>=12):
 print("you cannot enter")
else:
 print("you can enter but pay 50-/")

age14
14
you cannot enter

In [ ]:
height=int(input("height of person "))
int(bill)==0
if height>=3:
  print("you can ride")
  age=int(input("enter the age of person"))
  if age<12:
    bill=150
    print("pay 150")
  elif age>12:
    bill=250
    print("pay 250")
  else :
    bill=200
    print("pay 200")

w_photo=input("do you want photo y/n")
if w_photo=='y'or w_photo=='Y':
    bill=bill+50
    print("total is "+str(int(bill)))

else:
  print("cant ride")

height of person 4
you can ride
enter the age of person14
pay 250
do you want photo y/n y
cant ride

In [ ]:
size=input("enter the size of pizza you want (S/M/L) ")
print(size)
bill=0
if size=='S'or size=='s':
  bill=+100
  print("small pizza for 100")
elif size=='M'or size=='m':
  bill+=200
  print("medium pizza for 200")
else:
  bill+=300
  print("large pizza for 300")



pep=input("do you want pepronni on pizza (y/n)")
if pep=='y'or pep=='Y':
  if size=='S'or size=='s':
   bill +=30
  else:
    bill +=50

cheese=input("do you want cheese (y/n)")
if cheese=='y' or cheese=='Y':
  bill +=20


print("your bill is ",bill)

enter the size of pizza you want (S/M/L) m
m
medium pizza for 200
do you want pepronni on pizza (y/n)y
do you want cheese (y/n)y
your bill is  270

In [ ]:
name1=input("enter your name ")
name2=input("enter his name ")
name=str(name1)+str(name2)
print(name)
t=name.count('t')
r=name.count('r')
u=name.count('u')
e=name.count('e')
true=t+r+u+e
print(true)
l=name.count('l')
o=name.count('o')
v=name.count('v')
e=name.count('e')
love=l+o+v+e
print(love)
love_score=str(true)+str(love)
print(love_score)

enter your name aena siddhu
enter his name harjeet chaudhary
aena siddhu harjeet chaudhary
8
3
83