In [ ]:
# find max no in list using split and range fxn
list=input("enter the list")
print([list])
for x in list:
 print(x)
 list.split(" ")
x=

enter the list1 2 3 4 5
['1 2 3 4 5']
1

2

3

4

5

In [ ]:
num=input("enter the numbers seprated by space")
list1=num.split(" ")
print(list1)
count=0
for i in list1:
  count+=1
print(count)
for i in range(count):
  list[i]=int(list1[i])
print(list1)
max=list1[0]
for i in list1:
  if i>max:
    max=1

print(f"the maximum number is (max)")

enter the numbers seprated by space1 2 3 4 5
['1', '2', '3', '4', '5', '']
6

TypeError: 'str' object does not support item assignment

In [ ]:
a= range(2,5)
print(a[2])

4

In [ ]:
b=range(2,15,2)
for i in b:
  print(i)

2
4
6
8
10
12
14

In [ ]:
c=range(2,15,-3)
for i in c:
 print(i)

In [ ]:
for i in range(10,-1,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
sum=0
for i in range(0,101,1):
  sum=sum+i
print(sum)

5050

In [ ]:
sum=0
for i in range(0,101,2):
  sum=sum+i
print(sum)

2550

In [ ]:
#fizz buzz program
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print(i, "FizzBuzz")
    elif i % 3 == 0:
        print(i, "Fizz")
    elif i % 5 == 0:
        print(i, "Buzz")

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 FizzBuzz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 FizzBuzz
33 Fizz
35 Buzz
36 Fizz
39 Fizz
40 Buzz
42 Fizz
45 FizzBuzz
48 Fizz
50 Buzz
51 Fizz
54 Fizz
55 Buzz
57 Fizz
60 FizzBuzz
63 Fizz
65 Buzz
66 Fizz
69 Fizz
70 Buzz
72 Fizz
75 FizzBuzz
78 Fizz
80 Buzz
81 Fizz
84 Fizz
85 Buzz
87 Fizz
90 FizzBuzz
93 Fizz
95 Buzz
96 Fizz
99 Fizz
100 Buzz

In [ ]:
#password generator
import random
x = int(input("how many letters u want"))
list = ["A" , "B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]
for n in range(x):
    n = random.choice(list)
    print(n)

y= int(input("how many numbers uu want"))
for m in range(y):
    m = random.randint(0,9)
    print(m)

z = int(input("how many symbols u want"))
list1 = ["#" , "$"]
for w in range(z):
    w = random.choice(list1)
    print(w)

how many letters u want2
C
P
how many numbers uu want2
7
2
how many symbols u want2
#
#

In [ ]:
count=1
while count<=5:
  print(count)
  count=count+1
print("out of loop")

1
2
3
4
5
out of loop

In [ ]:
count=5
while count>0:
  print(count)
  count=count-1
print("out of loop")

5
4
3
2
1
out of loop

In [ ]:
count=5
while count>0: print(count); count=count-1
print("out of loop")

5
4
3
2
1
out of loop

In [ ]:
count=5
while count>0:
  print(count)
  count=count-1
  if count==3:
    break
else:
    print("else block")
print("out of loop")

5
4
out of loop

In [ ]:
list=["hi","hello","welcome"]
name=["chhavi","divyam","addy"]
for item in list:
  for i in name:
    print(item,i)
    if item=="hello" and i=="divyam":
     break
  print("out from inner loop")
print("out from inner loop")

hi chhavi
hi divyam
hi addy
out from inner loop
hello chhavi
hello divyam
out from inner loop
welcome chhavi
welcome divyam
welcome addy
out from inner loop
out from inner loop

In [ ]:
count1=0
while count1<10:
  print(count1)
  count1+=1
  if count1==7:
    continue
  print("hi")
print("done")

0
hi
1
hi
2
hi
3
hi
4
hi
5
hi
6
7
hi
8
hi
9
hi
done

In [ ]:
count1=0
while count1<10:
  print(count1)
  count1+=1
  if count1==7:
    pass
  print("hi")
print("done")

0
hi
1
hi
2
hi
3
hi
4
hi
5
hi
6
hi
7
hi
8
hi
9
hi
done

In [ ]:
for i in range(5):
 pass

for letter in "hello":
 print("pass: ",letter)
print("done")`

In [ ]:
total=0
number=int(input("enter the number (0 to quit)"))
while number !=0:
  total=total+number
  number=int(input("enter the number(0 to quit)"))
print(total)

enter the number (0 to quit)1
enter the number(0 to quit)1
enter the number(0 to quit)1
enter the number(0 to quit)1
enter the number(0 to quit)1
enter the number(0 to quit)0
5

In [ ]:
count=0
while True:
  print(count)
  count+=1
  if count==5:
   break
else:
  print("in else block")
print("out of loopp")

0
1
2
3
4
out of loopp

In [ ]:
import random
list=["apple","banana","orange","mango"]
chosen_word=random.choice(list)
lives=6
print(chosen_word)
display=[]
for letters in chosen_word:
  display+='_'
print(display)

mango
['_', '_', '_', '_', '_']

#FUNCTIONS

In [ ]:
def greet():
 print("hi")
 print("python")
greet()
greet()
greet()

hi
python
hi
python
hi
python

In [ ]:
def python():

  print("we started puthon")
  print("this is first lecture")
python()

for i in range(5):
    python()

we started puthon
this is first lecture
we started puthon
this is first lecture
we started puthon
this is first lecture
we started puthon
this is first lecture
we started puthon
this is first lecture
we started puthon
this is first lecture

In [ ]:
def add(x,y):
  add=x+y
  print(f"sum is {add}")
add(10,3)

sum is 13

In [ ]:
# positional arguments
def UPES(name,dept):
  print(f"are you {name}")
  print(f"are you from {dept}")

In [ ]:
# keyword arguments
def UPES(name,dept):
  print(f"are you {name}")
  print(f"are you from {dept}")
UPES(dept="SoCS", name="chhavi")

are you chhavi
are you from SoCS

In [ ]:
# mixture of arguments
UPES("chhavi", dept="socs")

are you chhavi
are you from socs

In [ ]:
UPES(dept="socs","chhavi")

SyntaxError: positional argument follows keyword argument (<ipython-input-11-2bab812ed21d>, line 1)

In [ ]:
#default arguments
def upes1(name,student,dept="socs"):
  print(f"hi {name}")
  print(f"i am {student}")
  print(f"are you from {dept}")
upes1("chhavi","ravi",dept="socs")
#upes1("chhavi","ravi")

hi chhavi
i am ravi
are you from socs

In [ ]:
def add1(*numbers):
  c=0
  for i in numbers:
    c=c+1

  print(f"addition is {c}")
add1(23,45,67,34,67)

addition is 5

In [ ]:
def xyz(**num , name):
  sum=0
  print(num)
  print(name)

for i in num:
  sum4=sum4+i
print(f"sum if {sum4}")

xyz(1,3,5, anme="chhavi")

SyntaxError: invalid syntax (<ipython-input-29-07a6784ec2fa>, line 1)

In [ ]:
def info_person1(*args, **kwargs):
  for i , in kwargs.items():
   print(i,j)
print(args)

NameError: name 'args' is not defined

In [ ]:
def area(a,b):
  a =int(input("enter the height of wall"))
  b =int(input("enter the width of wall"))\
  m=a*b
area(10,20)

numberofcans=area/7
print(numberofcans)
print(f"number of cans is {numberofcans}")

SyntaxError: invalid syntax (<ipython-input-46-132ad1b987fc>, line 4)

In [ ]:
alphabets=["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]
x=input("enter E for encription and D for decription")

enter E for encription and D for decriptionE

In [ ]:
#dictionaries
studentdata={
    "chhavi": {"age":19,"phone":999}
}
studentdata["chhavi"]

{'age': 19, 'phone': 999}

In [ ]:
phone_no["chhavi"] : 999
print(phone_no)

NameError: name 'phone_no' is not defined

In [ ]:
from re import U
data = {
  1:"Upes",
  2:"chhavi",
  0:"socs"
}
print(data[0])
del data[1]
print(data)
data.pop(2)
print(data)
data.popitem()
print(data)
data.clear()
print(data)

socs
{2: 'chhavi', 0: 'socs'}
{0: 'socs'}
{}
{}

In [ ]:
data = {
  1:"Upes",
  2:"chhavi",
  0:"socs"
}
for i in data:
  print(i)
  print(data[i])
for i in data:
  print(i)
print(data[i])

for i in data.items():
  print(i)

1
Upes
2
chhavi
0
socs
1
2
0
socs
(1, 'Upes')
(2, 'chhavi')
(0, 'socs')

In [ ]:
student_marks={
    "chhavi":19,
    "arya":22,
    "ravi":90,
    "addy":77,
    "adi":70,
    "krish":89,
    "riya":80,
    "anshu":78,
    "deepa":100,
    "sanjay":99
}
for i in student_marks:
  if student_marks[i]>100:
    student_marks[i]="o+"
  elif student_marks[i]>90:
    student_marks[i]:"a+"
  elif student_marks[i]>30:
   student_marks[i]="c+"
print(student_marks)

{'chhavi': 19, 'arya': 22, 'ravi': 'c+', 'addy': 'c+', 'adi': 'c+', 'krish': 'c+', 'riya': 'c+', 'anshu': 'c+', 'deepa': 100, 'sanjay': 99}

In [ ]:
travel={
    "gujrat":["baroda","surat","statue of unity"],
    "kashmir":["srinagar","gulmarg","pahalgam"]
}
travel["gujrat"].pop(0)
print(travel)

{'gujrat': ['surat', 'statue of unity'], 'kashmir': ['srinagar', 'gulmarg', 'pahalgam']}

In [ ]:
corpus={
    "the quick brown fox jumped over the lazy dog",
    "she sells seashells by the seashore",
    "peter piper picked a pack of pickled peppers"
}
unique_word=set()
for sentence in corpus:
  for word in sentence split

In [ ]:
def add(a,b):
 c=a+b
 return c
add(3,4)

7

In [ ]:
def add(a,b):
  c=a+b
  return
result=add(3,4)
print(result)

None

In [ ]:

def function():
  a=10

  a=a+1
  print(a)
function()

11

In [ ]:
def add(a,b):
  c=a+b
  #return"this is our first class"
  return c
result=add(3,4)
print(result)

7

In [ ]:
#title case
def format_name(f_name,l_name):
  x=f_name.title()
  y=l_name.title()
  print(f" {x} {y}")

format_name("chhAVI","chauHAN")

 Chhavi Chauhan

In [ ]:
import statistics
def MMM(list):
  return statistics.mean(list),statistics.median(list),statistics.mode(list)
  print("chhavi chauhan")

a,b,c=MMM([26,34,89,92,28,16])
print(f"mean is {a}\n median is {b}\n mode is {c}")

mean is 47.5
 median is 31.0
 mode is 26

In [ ]:
def fun():
  a=12
  pritn(a)
fun()
print(a)

In [ ]:
b=13
def fun():
  f=12
  print(b)
fun()

13

In [ ]:
ab=11
def display():
  ab=111
  def show():
    print(ab)
  show()
display()

111

In [ ]:
def DISPLAY():
  A=20
  def SHOW():
    global A
    A=31
  print(A)
  SHOW()
  print(A)
DISPLAY()
print(A)

20
20
31