In [ ]:
#TUPLES

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
print(len(thistuple))
print(type(thistuple))

('apple', 'banana', 'cherry', 'apple', 'cherry')
5
<class 'tuple'>

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
thistuple=tuple(("apple"))
print(thistuple)
print(type(thistuple))

('a', 'p', 'p', 'l', 'e')
<class 'tuple'>

In [ ]:
tuple=(1,2,3,4,5)
print(tuple[1])
print(tuple[3])
print(tuple[-1])
print(tuple[0:4])
print(tuple[0:5])
print(tuple[0:6])
print(tuple[0:])
print(tuple[::2])

2
4
5
(1, 2, 3, 4)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 3, 5)

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [ ]:
list=[1,2,3]
print(list)
list[0]=10
print(list)
#but in tuple
thistuple=(1,2,3)
print(thistuple)
#thistuple[0]=10 this is not possible
#print(thistuple)

[1, 2, 3]
[10, 2, 3]
(1, 2, 3)

In [ ]:
t1=(1,2,3)
t2=(2,3,4)
t3=(t1,t2)
print(t3)
print(t3[1])
print(t3[1][2])
print(len(t3))
print("\n")
t3=t1+t2
print(t3)
print(len(t3))
print("\n")
print(min(t1))
print(max(t2))

((1, 2, 3), (2, 3, 4))
(2, 3, 4)
4
2


(1, 2, 3, 2, 3, 4)
6


1
4

In [ ]:
t4=(1,2,2,2,3,4,5,5,6,6)
print(t4.count(2))
print(t4.index(5))

3
6

In [ ]:
t5=(10)*5
print(t5)
t6=(10,)*5
print(t6)

50
(10, 10, 10, 10, 10)

In [ ]:
list1=[1,2,3]
print(tuple(list1))

(1, 2, 3)

In [ ]:
tuple=(1,2,3)
print(list(tuple))

[1, 2, 3]

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)#convert it into list
y[1] = "kiwi"
x = tuple(y)#convert back to tuple

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

In [ ]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple', 'cherry']
banana

In [ ]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [ ]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [ ]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
t=(1,2,3)
t0=t*2
print(t0)

(1, 2, 3, 1, 2, 3)

#SETS

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{True, 2, 'cherry', 'banana', 'apple'}
{False, True, 'cherry', 'banana', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [ ]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [ ]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)
print("banana"in thisset)
thisset.add("orange")
print(thisset)
tropical={"pineapple","mango"}
thisset.update(tropical)
print(thisset)

cherry
apple
banana
True
{'orange', 'cherry', 'apple', 'banana'}
{'cherry', 'mango', 'banana', 'pineapple', 'orange', 'apple'}

In [ ]:
set1={1,2,3,4}
set1.remove(1)#if 2 was not present in the set remove will return error
print(set1)
set1.discard(2)# if 2 was not present in the set discard will return the set as it is
print(set1)
set1.pop()# any random item
print(set1)

{2, 3, 4}
{3, 4}
{4}

In [ ]:
set2={1,2,3,4,5}
set2.clear()
print(set2)

set()

In [ ]:

set={1,2,-20,"upes"}
set

{-20, 1, 2, 'upes'}

In [ ]:
set3={1,2,3,4,5}
del set3

In [ ]:
set4={1,2,3}
for x in set4:
  print(x)

1
2
3

# OPERATIONS ON SET

In [ ]:
s1={"a","b","c"}
s2={1,2,3}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 'a', 'c', 'b'}

In [ ]:
s1={"a","b","c"}
s2={1,2,3}
s1.update(s2) # insert item of s2 into s1
print(s1)

{1, 2, 3, 'a', 'c', 'b'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z=x.intersection(y)
print(z)

{'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)
# if you do
#z=x.symmetric_difference_update(y)
#print(z)
# it will display none because this doesnot gives a new set it mpdifies the existing set

{'banana', 'google', 'cherry', 'microsoft'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z=x.symmetric_difference(y)
print(z)

{'banana', 'google', 'cherry', 'microsoft'}

In [ ]:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)

print(z)

{2, 'banana', 'google', 'cherry'}

In [ ]:
str="chhavi"
print(id(str))
str+="upes"
print(str)

140122228284272
chhaviupes

In [ ]:
set1={1,2,3,4}
set2={5,6,7,8}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
set1={1,2,3,4}
set2={5,6,7,8}
print(set1|set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
set1={1,2,3,4}
set2={5,6,7,8}
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
set1={1,2,3,4}
set2={5,6,7,8}
set3={9}
print(set1|set2|set3)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
set3.union(("chhavi",1,2,3))

{1, 2, 3, 9, 'chhavi'}

In [ ]:
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
set1|=set3
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
set3={1,2,3,4}
set4={3,4,5}
set3.intersection(set4)

In [ ]:
set3={1,2,3,4}
set4={3,4,5}
set3.intersection_update(set4)
print(set3)
print(set4)

{3, 4}
{3, 4, 5}

In [ ]:
set3={1,2,3,4}
set4={3,4,5}
set3.symmetric_difference(set4)

{1, 2, 5}

In [ ]:
set3={1,2,3,4}
set4={3,4,5}
set3.symmetric_difference_update(set4)
print(set3)

{1, 2, 5}

In [ ]:
set3^set4 # to find symmetric differnece

{5}

In [ ]:
set3.isdisjoint(set4)

False

In [ ]:
set4.issubset(set3)

False

In [ ]:
set3.issubset(set4)

True

#DICTIONARY

In [ ]:
thisdict={
    "brand" : "ford",
    "model" : "mustang",
    "year" : 1964
}
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [ ]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [ ]:
#ACCESSING ELEMENTS
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [ ]:
thisdict={
    "brand" : "ford",
    "model" : "mustang",
    "year" : 1964
}
print(thisdict["brand"])
x=thisdict.get("model")
print(x)

print("\n")

y=thisdict.keys()
print(y)
thisdict["colour"]="white"
print(y)

print("\n")

z=thisdict.values()
print(z)
thisdict["model"]="MUSTANG"
print(z)

print("\n")

a=thisdict.items()
print(a)
thisdict["year"]=2020
print(a)

ford
mustang


dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'colour'])


dict_values(['ford', 'mustang', 1964, 'white'])
dict_values(['ford', 'MUSTANG', 1964, 'white'])


dict_items([('brand', 'ford'), ('model', 'MUSTANG'), ('year', 1964), ('colour', 'white')])
dict_items([('brand', 'ford'), ('model', 'MUSTANG'), ('year', 2020), ('colour', 'white')])

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)
for x in thisdict:
  print(thisdict[x])

brand
model
year
Ford
Mustang
1964

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
 print(x)
for x in thisdict.keys():
  print(x)

Ford
Mustang
1964
brand
model
year

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)
mydict=dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
myfam={
    "child1"   : {
        "name" : "chhavi",
        "year" : 2002
    },
    "child2":{
        "name": "aena",
        "year" : 2003

    },
    "child3":
    {  "name" : "ravi",
        "year" : 2004

    }
}
print(myfam)

{'child1': {'name': 'chhavi', 'year': 2002}, 'child2': {'name': 'aena', 'year': 2003}, 'child3': {'name': 'ravi', 'year': 2004}}

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfam)
print(myfam["child1"]["name"])

{'child1': {'name': 'chhavi', 'year': 2002}, 'child2': {'name': 'aena', 'year': 2003}, 'child3': {'name': 'ravi', 'year': 2004}}
chhavi